POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
MATRIX_SERVER=matrix.org
APP_MODE=prod # prod or dev
BRIDGE_TELEGRAM_URL=https://telegram-bridge.matrix.org
BRIDGE_TELEGRAM_SHARED_SECRET=YOUR_SECRET_HERE
BRIDGE_DISCORD_URL=https://discord-bridge.matrix.org
BRIDGE_DISCORD_SHARED_SECRET=YOUR_SECRET_HERE
BACKEND_CORS_ORIGINS=["http://localhost:5173","https://example.com"]